* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-container {
  width: 300vw;
  height: 125vh;
  position: absolute;
  top: 5vh;
  left: 0;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-container .arrows {
  position: absolute;
  width: 32%;
  height: 100px;
  left: 20px;
  top: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 40px;
}

.carousel-container .carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300vw;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.carousel-container .carousel-slide .imgbox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100vw;
}

.carousel-container .carousel-slide .imgbox1 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.carousel-container .carousel-slide .imgbox2 {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.carousel-container .carousel-slide .imgbox2 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-container .carousel-slide .imgbox3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.carousel-container .carousel-slide .imgbox3 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.sliderInfo {
  position: absolute;
  z-index: 1;
  top: 40vh;
  left: 45px;
  width: 50%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliderInfo .buttonSlider {
  width: 40%;
  height: 72px;
}

.sliderInfo .buttonSlider .btn {
  width: 250px;
  height: 72px;
  border-radius: 50px;
  background: rgba(24, 23, 23, 0.911);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.sliderInfo .buttonSlider .btn span {
  color: #e0dada;
  font-size: 20px;
  margin-left: 30px;
  font-weight: bold;
}

.sliderInfo .descriptionSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sliderInfo .descriptionSlider span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e0dada;
  font-size: 24px;
}

.sliderInfo .sliderTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  font-size: 30px;
}

.sliderInfo .sliderTitle h1 {
  color: #e0dada;
}

.sliderInfo .sliderTitle h1 span {
  color: orange;
}
/*# sourceMappingURL=slider.css.map */