* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.aboutpage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/about1.jpg");
    background-attachment: fixed;
    height: 125vh;

    article {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .firstcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        .title1 {
            color: rgb(224, 218, 218);
            span {
                color: orange;
            }
        }
        .par1 {
            p {
                color: rgb(224, 218, 218);
                font-size: 20px;
            }
        }
    }
    .secondcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        .title2 {
            color: rgb(224, 218, 218);
            span {
                color: orange;
            }
        }
        .par2 {
            p {
                color: rgb(224, 218, 218);
                font-size: 20px;
            }
        }
    }
    .thirdcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        .title3 {
            color: rgb(224, 218, 218);
            span {
                color: orange;
            }
        }
        .par3 {
            p {
                color: rgb(224, 218, 218);
                font-size: 20px;
            }
        }
    }
    }