@import "about";
@import "nav";
@import "product";
@import "slider";
@import "header";
@import "footer";

section {
  padding: 36px;
}
.mobile-wrap {
  overflow-x: hidden;
}
@-ms-viewport{
  width: device-width;
}